# fly.toml app configuration file generated for afrimercato-backend
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'afrimercato-backend'
primary_region = 'lhr'

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "10s"
    method = "GET"
    path = "/api/health"
    protocol = "http"

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
